@charset "UTF-8";

	
	.main {
    margin-top: 58px;
    height: 100%;
    width: 100%;
    box-sizing : border-box;
}
	
	input[type=text] {
		text-align: right;
		padding: 12px 20px;
		margin: 8px 0;
		font-size: 15px;
		box-sizing: border-box;
		border: 3px solid #555;
	}
	
	input[type=button], input[type=submit], input[type=reset] {
		background-color: #888888;
		border: none;
		color: white;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 4px 20px 0;
		cursor: pointer;
		font-size: 15px;
		width: 300px;
	}
	
	.button {
		margin : 50px;
	}
	
	table, td {
		width: 300px;
		border: 1px solid black;
		align: center;
		text-align: center;
		font-size: 14px;
		border-collapse: collapse;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
		font-size: 12px
	}
	
	th {
		border: 1px solid black;
		text-align: center;
		background-color: #888888;
		color: white;
		padding: 5px;
		font-size: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	body{
	background-color:#eee;
	}
	
	.inner{
	    width: 1200px;
	    background-color: #ffff;
	    margin: 20px auto 0;
	    padding : 50px 0;
	}