@charset "UTF-8";

	table, td{
		border: 1px solid black;
		align : center;
		border-collapse : collapse;
		font-size : 12px;
		padding : 5px;
		margin-top : 20px;
		
	}
	
	th{
		border : 1px solid black;
		text-align : center;
		background-color : #888888;
		color : white;
		padding : 5px;
		width : 50px;
		font-size : 12px;
		text-overflow : ellipsis;
		overflow : hidden;
			
	}
	
	caption{
		padding : 5px;
		caption-side : bottom;
		text-align : center;
	
	}
	
	.button{
		align : center;
		background-color : #888888;
		color : white;
		padding : 5px;
		margin : 5px;
		font-size : 12px;
		border : none;
		border-radius : 5px;
		width : 50px;
	}

